<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  <system.serviceModel>
    <!-- bindings ok -->
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding" />
      </webHttpBinding>
    </bindings>
    
    <!-- services ok -->
    <services>
      <service name="WcfMensagemRest.WcfMensagemRest" behaviorConfiguration="defaultBehavior">
        <endpoint address="" behaviorConfiguration="defaultEndpointBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBinding" contract="WcfMensagemRest.IWcfMensagemRest" />
      </service>
    </services>

    <!-- behaviors ok -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBehavior">
          <!-- Para evitar a divulgação de informações de metadados, defina os valores abaixo para falso antes da implantação -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- Para receber detalhes de exceção em falhas para fins de depuração, defina o valor abaixo para verdadeiro. Defina para falto antes da implantação para evitar a divulgação de informações de exceção -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="defaultEndpointBehavior">
          <!-- <enableWebScript/> -->
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>

</configuration>
